<auth-component ng-if="!vm.authorized"></auth-component>

<div layout ng-if="vm.authorized">
    <div flex="40" class="md-margin">
        <auth-data-component></auth-data-component>
    </div>
    <div flex="60" class="md-margin">
        <md-toolbar class="md-padding  md-toolbar-tools" >Your order</md-toolbar>
        <md-list>
            <md-list-item class="md-2-line" ><!--ng-repeat="item in todos"-->
                <md-checkbox ng-model="item.done"></md-checkbox>
                <div class="md-list-item-text">
                    <h3>{{item.title}}</h3>
                    <p>{{item.status}}</p>
                    <p>zzz</p>
                </div>
            </md-list-item>

        </md-list>

        <add-dish-component></add-dish-component>
    </div>
</div>