<md-toolbar class="md-toolbar-tools">
    Account info
    <div flex></div>
    <div flex="nogrow">
        <md-button ng-click="$ctrl.logout()" class="nullify">X</md-button>
    </div>
</md-toolbar>
<div  layout="column" layout-align="space-around" class="md-margin" style="height: 185px; margin-top: 25px">
    <div layout layout-align="center center">
        <md-input-container  flex="90">
            <label>Name</label>
            <input ng-model="$ctrl.name" type="text" disabled>
        </md-input-container>

    </div>
    <div layout layout-align="center center">
        <md-input-container  flex="90">
            <label>Email</label>
            <input ng-model="$ctrl.email" type="text" disabled>
        </md-input-container>
    </div>
    <div layout layout-align="center center">
        <md-input-container  flex="90">
            <label>Credits</label>
            <input ng-model="$ctrl.credits" type="text" disabled>
        </md-input-container>
    </div>
    <div layout layout-align="center center">
        <div flex="90">
            <md-button class="md-primary" ng-click="$ctrl.topUp()">Top up for 100 credits</md-button>
        </div>
    </div>
</div>
