<md-toolbar class="md-padding">Account info</md-toolbar>
<div  layout="column" layout-align="space-around" style="height: 190px">
    <div layout layout-align="center center">
        <md-input-container  flex="80">
            <label>Name</label>
            <input ng-model="user.login" type="text" disabled value="zzz" >
        </md-input-container>
    </div>
    <div layout layout-align="center center">
        <md-input-container  flex="80">
            <label>Email</label>
            <input ng-model="user.email" type="text" disabled value="zzz">
        </md-input-container>
    </div>
    <div layout layout-align="center center">
        <div flex="80">
            <md-button class="md-primary" ng-click="user.topUp()">Top up for 100 credits</md-button>
        </div>
    </div>
</div>
